
html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  margin:0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: "Julius Sans One", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  height: 100%;
}

/* layout */

.grid-container{
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 6rem 1fr 10rem;
  height: 100%;
}

.main {
  padding: 0;
}

.shop-page {
  padding: 150px 20px 120px;
}

.product-screen{
  padding: 30px 5px;
}

header{
  grid-area: header;
 background-color: #ca8a8b;
 border-bottom: 0.3rem solid #ffffff;
}

main{
  grid-area: main;
  padding: 1rem;
}

footer{
  grid-area: footer;
  background-color: #ca8a8b;
  color: #ffffff;
}


.icons {
  width: 25%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.f-icon {
  color: #114e60;
}

@media only screen and (max-width: 500px){
  .icons {
    width: 40%
  }

  .copyright {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 450px){
  .icons {
    width: 50%
  }

  .copyright {
    font-size: 1.5rem;
  }
}

/* Common */

h1{
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2{
  font-size: 1.6rem;
  padding: 1rem 0;
}

a{
  text-decoration: none;

  
}

a:hover{
  color: #ffc996;
}



/* #ff8000 */

ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li{
  margin-top: 1rem;
}

button{
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgray;
  cursor: pointer;
}

button:hover{
  border: 0.1rem #ffc996 solid;
}

button.primary{
  color: #ffffff;
  background-color: #114e60;
}

button.block{
  width: 100%;
}

button.small {
  font-size: 1.2rem;
}

button.small.invert{
  color: #114e60;
  background-color: #ffffff;
  border: 0.1rem solid #114e60;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.bottom {
  align-items: flex-end;
}

.row.column{
  flex-direction: column;
}

.row.center{
  justify-content: center;
}

.row.top{
  align-items: flex-start;
}

.col-1{
  flex: 1 1 25rem;
}

.col-2{
  flex: 2 1 50rem;
}

.product-screen-spacing{
  padding: 1.5rem;
}

.min-30{
  min-width: 30rem;
}

/* header */

header a{
  color: #ffffff;
  padding: 1rem;
}

/* Aside */

aside {
  position: fixed;
  width: 30rem;
  height: 100%;
  background-color: #114e60;
  z-index: 1000;
  color: #ffffff;
  transform: translateX(-30rem);
  transition: all 0.5s;
}

aside.open {
  transform: translateX(0);
}

.aside-link{
  color: #ffffff;
  font-weight: bold;
}

.invert-aside-link{
  color: #144e60;
}

button.open-sidebar {
  font-size: 3rem;
  padding: 0.2rem 0.5;
  margin: 0 0.5rem;
  background: none;
  color: #ffffff;
  cursor: pointer;
}


button.open-sidebar {
  border: none;
}

button.open-sidebar:hover {
  border: 0.2rem solid #ffffff;
}

aside ul {
  padding: 0;
  list-style: none;
}

aside li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.aside-li {
  color: #ffffff;
}

button.close-sidebar{
  padding: 0.3rem 0.8rem;
  color: #114e60;
  background-color: #ffffff;
  border: none;
}

a.brand{
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Homemade Apple";
}

.logo-container {
  height: 100%;
  width: 5rem;
position: relative;
}

.logo {
  color: #ffffff;
  height: 100%;
  width: 100%;
  position: relative;
  bottom: -0.7rem;
}

.badge {
  background-color: #114e60;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: -0.1rem;
  margin-top: -0.2rem;
}

.badge.inverted{
  background-color: #ffc996;
  color: #114e60;
}

/* image */

img{
  border-radius: 0.5rem;
}

img.small{
  max-width: 5rem;
  width: 100%;
}

img.medium{
  max-width: 29rem;
  width: 100%;
}

img.medium.shadow{
  -webkit-box-shadow: 2px 5px 16px -6px rgba(0,0,0,0.95); 
box-shadow: 2px 5px 16px -6px rgba(0,0,0,0.95);
}

img.large{
  width: 100%;
}

/* Card */

.card{

  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1.5rem;
}

.product-title{
  color: #114e60;
}

.card-body{
  padding: 1rem;
}

.card-body > * {
  margin-bottom: 0.5rem;
}

.price{
  font-size: 2rem;
}

/* Rating */

.rating span {
  color: #f0c040;
}

.rating span:last-child{
  color: #404040;
}

/* Alert */
.loading {
  display: block !important;
}

.success{
  color: #20a020;
}

.danger{
  color: #a02020;
}

.alert{
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info{
  color: #2020a0;
  background-color: #e0e0ff;
}

.alert-danger{
  color: #a02020;
  background-color: #ffe0e0e0;
}

.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}

/* Form */

.cart-panel{
  border: 0.1rem solid #114e60;
}

.form {
  max-width: 60rem;
  margin: 0 auto;
}

.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form  label {
  margin: 1rem 0;
}

input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
}

/* Dropdown */ 
.dropdown {
  display: inline-block;
  position: relative;
}


.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.3rem;
  border-radius: 0.5rem;
}

.dropdown-content.invert{
  right: -10.5rem;
  background-color: #ffffff;
  border: 0.3rem solid #ffc996;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Checkout Steps */ 
.checkout-steps > div{
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}

.checkout-steps > div.active-step {
  border-top-color: #ffc996;
  color: #ffc996;
}

/* Table */ 
.table {
  width: 100%;
  border-collapse: collapse;
}

.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}

.table td, 
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}

.table th {
  color: #ffffff;
  background-color: #114e60;
}

.table button {
  margin: 0 0.2rem;
}

/* Hero Section */
.hero-container{
  height:650px;
  position: relative;
  width: 100%;
  background-color: #e6c4c0;
  border-bottom: 0.8rem solid #ca8a8b;
}

.hero-image-container{
  height: 100%;
  width:60%;
  clip-path: polygon(0 0, 90% 0, 63% 100%, 0% 100%);
}

.hero-image{
  height: 100%;
  width: 100%;
  border-radius: none;
}

.hero-text {
  height: 90%;
  width: 40%;
  position: absolute;
  right: 5%;
  display: flex;
  flex-direction: column;
}

.main-heading {
  color: #ffffff;
  font-size: 10rem;
  right: 10%;
  font-weight: 200;
  border: 0.2rem solid #ffffff;
}

.hero-subheading{
  color: #114e60;
  text-align: left;
  position: relative;
  left: -20px;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 3rem;
  justify-content: center;
  border-bottom: 0.2rem solid #115e60;
}

.hero-title-dark{
  color: black;
}

@media only screen and (max-width: 1200px){
  .main-heading {
    font-size:8rem;
  }

  .hero-subheading {
    font-size: 3rem;
  }

}

@media only screen and (max-width: 900px){

  .hero-text {
    margin-top: 100px;
  }

  .main-heading {
    font-size:7rem;
  }

  .hero-subheading {
    font-size: 2.5rem;
  }

}

@media only screen and (max-width: 700px){

  .hero-text {
    margin-top: 150px;
  }

  .main-heading {
    font-size:5rem;
  }

  .hero-subheading {
    font-size: 2rem;
  }

}

@media only screen and (max-width: 500px){

  .hero-container {
    height: 550px;
  }

  .hero-image-container{
    width: 40%;
  }

  .hero-text{
    width: 55%;
  }
}

@media only screen and (max-width: 400px){

  .hero-container {
    height: 400px;
  }

  .main-heading{
    font-size: 4rem;
  }

  .hero-subheading{
    font-size: 1.5rem;
  }

  .hero-image-container{
    width: 40%;
  }

  .hero-text{
    width: 55%;
  }
}



/* about section */
.about-container{
  width: 100%;
  height: 900px;
  background-color: #e6c4c0;
  position: relative;
}

.about-content-container{
  height: 70%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5%;
  position: absolute;
  top: 10%;
}

.about-image-container{
  height: 100%;
  width: 60%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 38% 100%);
  position: absolute;
  right: 0;
}

.about-image{
  height: 100%;
  width: 100%;
  
}

.about-title-container{
  text-align: left;
  border: 0.2rem solid #ffffff;
  padding-left: 2%;
  /* position: absolute;
  left: 5%;
  top: 10%; */
 
}

.about-title{
  font-size: 8rem;
  color: #ffffff;
  font-weight: 200;
  padding: 5px 0;
}

.about-title.black{
  color: black;
}

.about-sub{
  color: #ffffff;
  font-size: 4rem;
  font-weight: 200;
  margin: 20px 0;
}

.about-text{
  font-size: 2.5rem;
  font-weight: bold;
}

.about-trim {
  color: #ffffff;
}

@media only screen and (max-width: 1400px){
.about-container{
  height: 800px;
}

.about-title{
  font-size: 5.5rem;
}

.about-text {
  font-size: 2.2rem;
}
}

@media only screen and (max-width: 900px){
  .about-container{
    height: 800px;
  }
  
  .about-image-container{
    width: 50%;
  }

  .about-content-container{
    width: 40%;
  }
  }

  @media only screen and (max-width: 650px){
    .about-container{
      height: 600px;
    }

    .about-title{
      font-size: 4rem;
    }

    .about-text{
      font-size: 1.5rem;
    }
    
    .about-image-container{
      width: 40%;
    }
  
    .about-content-container{
      width: 50%;
    }
    }

    @media only screen and (max-width: 400px){
      .about-container{
        height: 500px;
      }
  
      .about-title{
        font-size: 3.5rem;
      }
  
      .about-text{
        font-size: 1.3rem;
      }
      
      .about-image-container{
        width: 40%;
      }
    
      .about-content-container{
        width: 50%;
      }
      }
/* Search */
.search button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
  margin-right: 0.5rem;
}

.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  margin-left: 0.5rem;
}

@media only screen and (max-width: 400px){
  .search input {
    max-width: 100px;
  }
}



.search-page{
  padding: 1.5rem;
}

/* screen */

.screen {
  padding: 1rem;
}

/* Contact */
.form-container-contact {
  width: 50%;
  padding-top: 30px;
}

@media only screen and (max-width: 800px){
  .form-container-contact{
    width:70%;
  }
}

@media only screen and (max-width: 800px){
  .form-container-contact{
    width:80%;
  }
}

/* Dashboard */
.dashboard-page{
  padding: 1.5rem;
}

.summary > li {
  border: 0.1rem #c0c0c0 solid;
  margin: 2rem;
  border-radius: 0.5rem;
  flex: 1 1 20rem;
}

.summary-title {
  font-size: 2rem;
  padding: 1rem;
}

.summary-body {
  font-size: 4rem;
  padding: 1rem;
  text-align: center;
}

.summary-title.color1 {
  background-color: #f0e0e0;
}
.summary-title.color2 {
  background-color: #e0f0e0;
}
.summary-title.color3 {
  background-color: #e0e0f0;
}

/* Pagination */

.pagination a{
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem #114e60 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  cursor: pointer;
  color: #114e60;
}

.pagination a.active{
  font-weight: bolder;
  color: #ffc996;
}

/* Filter */

.filter-title i{
  position: relative;
  margin-left: 0.3rem;
  top: 0.2rem;
  color: #ea8a8b;
}

.active {
  font-weight:900;
  font-size: 2rem;
}

.filter-links a{
  color: #114e60;
}

